extends layout

block content
  h1= title
  - results=results
  div.container-fluid
    div(class="row m-1")
      each value,index in results
        - let destination = `dispatch(\"/resource/update?id=${value._id}\")`
        div(class="row-sm-2", class="m-1") elementName:#{value.element_name}<br> atominNumber:#{value.number}<br> symbol:#{value.symbol} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function buy(x)   {
      alert(`You Purchased item : ${x}`)
    } 
    function dispatch(path){
    window.location.href=path
    }                     
