extends layout

block content
  h1= title
  - results=results
  .container-fluid
    .row
      each value,index in results
       .col-sm-2(style="background-color: coral" onclick=`buy(${index+1})`) elementName:#{value.element_name}<br> atominNumber:#{value.number}<br> symbol:#{value.symbol} 
  script.
    function buy(x)   {
      alert(`You Purchased item : ${x}`)
    }                      
   
   
 

         
            