extends layout
block content
  - let destination_create = `dispatch(\"/element\")`
  button.btn( class="btn-primary ml-1", onclick= destination_create) Home
  h1= title
  - let elementid = toShow._id
  - let element_name = toShow.element_name
  - let elementnumber = toShow.number
  - let elementsymbol = toShow.symbol
  div
    div.row
      div(class='elementAttr mr-3') Element ID is:
      div <b>#{elementid}</b>
    div.row
      div(class='elementAttr mr-3') Element name is:
      div #{element_name}
    div.row
      div(class='elementAttr mr-3') Element number is:
      div #{elementnumber}
    div.row
      div(class='elementAttr mr-3') Element symbol is:
      div #{elementsymbol}   
  script.
    function dispatch(path){
      window.location.href=path
      }